//Grid
//@import 'reset.scss';
//@import 'bootstrap/bootstrap-grid.scss';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Fonts
//--Open Sans
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic,cyrillic-ext,latin-ext);

@mixin font-regular {
  font-family: 'Fira Mono', sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: 'Fira Mono', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

.input-wrapper {
  margin-bottom: 10px;
}

.ww {
  margin: 50px auto 0 auto;
  max-width: 300px;
  width: 100%;
  height: 250px;
  @include font-regular;

  &-background {
    //background-image: url("https://dl.dropboxusercontent.com/u/84421933/weatherImages/clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
   // border-radius: 7px;
    box-shadow: 0 0 12px -1px #676767;
  }
  p {
    margin: 0;
  }
  &-background {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &-wrapper {
    //@include clearfix;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 7px 7px 7px;
    width: 100%;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.01) 95%, transparent);
    border-radius: 7px;
  }
  &-temperature {

    font-size: 45px;
    font-weight: bold;
    &-unit {
      vertical-align: text-top;
      font-size: 16px;
    }
  }
  &-other {
    text-align: right;
    //width: 60%;
    font-size: 11px;
    &-addition {
      text-transform: capitalize;
    }
  }
}
